body {
    background-color: #111111;
    color: white;
    font-family: 'Roboto Mono', 'Courier New', monospace;
    font-weight: 400;
    margin: 0;
}

#board-container {
    position: relative;
    width: 1024px;
    margin: auto;
    text-align: center;
}

#board-container>div {
    margin: 25px 0px;
}

#messageArea {
    font-weight: 300;
}

#gameGrid table {
    position: relative;
    margin: auto;
    border-collapse: collapse; /* this prevents the td borders from doubling up */
}

.column-header {
    padding-bottom: 10px;
}

.row-header {
    padding-right: 15px;
}

#gameGrid td {
    width: 94px;
    height: 94px;
    background-color: #2e2e2e;
    border: 1px solid white;
}

#gameGrid .fas {
    font-size: 48px;
}

.hit-icon {
    color: green;
}

.miss-icon {
    color: red;
}

#userGuessArea {
    display: flex;
    align-items: center;
    justify-content: center;
}

#guessInput {
    height: 30px;
    width: 50px;
    text-align: center;
}

#fireButton {
    font-family: 'Roboto Mono', 'Courier New', monospace;
    font-weight: 300;
    padding: 5px 10px;
    height: 30px;
    margin-left: 10px;
    background-color: yellow;
    outline: none;
    border: none;
    border-radius: 2px;
    box-shadow: 0 4px #999;
   
}

#fireButton:hover {
    background-color: hsl(60, 99%, 39%); /* a slightly darker yellow */
    cursor: pointer;
    transition: .5s;
}

#fireButton:active {
    background-color: hsl(60, 99%, 39%);
    box-shadow: 0 2px #666;
    transform: translateY(4px);
    font-weight: bolder;
}

#resetBoard {
    position: absolute;
    right: 50px;
    bottom: 25px;
    font-family: 'Roboto Mono', 'Courier New', monospace;
    font-weight: 300;
    padding: 5px 10px;
    height: 30px;
    margin-left: 10px;
    background-color: #2e2e2e; /* same gray as the td background color */
    color: #ffffff;
    outline: none;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

#resetBoard:hover {
    font-weight: bolder;
    background-color: hsl(0, 0%, 20%); /* a slightly lighter gray */
}

#resetBoard:active {
    font-weight: bolder;
    background-color: hsl(0, 0%, 15%); /* a slight darker gray */
}